<!-- About Section -->
<section id="syllabus">
  <div class="container">
    <div class="row">
       <div class="col-lg-12 text-center">
          <h2>Syllabus</h2>
          <hr class="star-primary">
       </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="justify">
        This 1 unit seminar is a venue for current topics in mechanical and
        aerospace engineering. Guest speakers are invited from both academia
        and industry. A primary objective is to broaden the technical and
        employment horizons for the MAE graduate students. All graduate
        students are required to take this course a specific number of times as
        part of their degree requirements. The seminar is open to the public
        and is advertised throughout the College of Engineering.</p>

        <h3>Instructor</h3>
        <p class="justify">
        Jason K. Moore<br>
        jkm@ucdavis.edu<br>
        Bainer 2095<br>
        </p>

        <h3>Time and Location</h3>
        <p class="justify">
        All of the seminars will be held in <strong>Bainer Hall room 1062 on Thursday
          afternoons from 4:10-5:00 pm</strong>.
        </p>

        <h3>Attendance</h3>

        <p class="justify">
        Enrolled students will be asked to sign in during each seminar and must
        arrive on time to get credit for attending. Only two missed seminars
        are allowed for a passing grade. If you miss more than this you must
        watch the missed seminar video outside of class and write a half page
        summary of the presentation and what you have learned from it.
        </p>

        <h3>Video Recordings</h3>

        <p class="justify">All of the seminar video recordings will be made publicly available
        soon after the presentation if the speaker consents to sharing and will
        be available via this website.</p>
      </div>
    </div>
  </div>
</section>
