{% block scripts %}

  {% for script in SCRIPTS %}

    {% if script|first == 'h' or script|first == '/' %}
    <!-- script is a url -->
      <script src="{{script}}"></script>

    {% else %}
    <!-- script is a local library -->
      <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/{{script}}"></script>
    {% endif %}

  {% endfor %}

<script>
{% if articles %}
{% for article in articles_page.object_list|sort(attribute='date') %}
  $(document).ready(function() {
    if(window.location.href.indexOf('#portfolioModal{{loop.index}}') != -1) {
      $('#portfolioModal{{loop.index}}').modal('show');
    }

  });
{% endfor %}
{% endif %}
</script>

{% endblock %}
